/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,400;9..144,800&family=Montserrat&display=swap');

/* RESETS */
html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

/* COLORS */
:root {
  --jasper: #d0604cff;
  --champagne-pink: #f2e0d2ff;
  --paynes-gray: #546a76ff;
  --dark-purple: #290628ff;
  --dark-purple-2: #31081fff;
}

/* GENERAL STYLES */

p,
a,
li {
  font-family: 'Montserrat', sans-serif;
}

h1,
h2,
h3 {
  font-family: 'Fraunces', serif;
}
img {
  display: block;
}
body {
  max-width: 1800px;
  margin: 0 auto;
}

/* HEADER STYLES */
header {
  margin-bottom: 2rem;
}

.logo-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  margin: 1rem auto;
  padding: 0;
  gap: 2rem;
  margin-bottom: 2rem;
}

.logo-img {
  width: 100%;
  height: 100%;
  max-width: 200px;
  max-height: 200px;
}

/* NAV STYLES */
nav {
  max-width: 80%;
  margin: 0 auto;
}
.nav-items-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  padding: 1rem;
  background-color: var(--jasper);
  color: var(--champagne-pink);
  border-radius: 5px;
}

.nav-items-container li {
  list-style: none;
  font-size: 1.5rem;
  font-weight: 600;
}
.nav-items-container a {
  text-decoration: none;
  color: var(--champagne-pink);
  transition: all 0.3s ease-in-out;
}
.nav-items-container a:hover {
  color: var(--dark-purple);
}

/* MAIN SECTION STYLES */

/*PROMOTION/HERO SECTION */
.promotion {
  position: relative;
  height: 300px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}

/* pseudo element added to allow for opacity on background image */
.promotion::before {
  content: '';
  background-image: url('https://images.unsplash.com/photo-1595475884562-073c30d45670?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1169&q=80');
  background-size: 100%;
  background-position: bottom -200px right 60%;
  background-repeat: no-repeat;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.4;
}

h1 {
  position: relative;
  color: var(--jasper);
  font-size: 4rem;
  text-align: center;
  letter-spacing: 3px;
}

/* INFO SECTION */
.info-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  width: 90%;
  margin: 0 auto;
  justify-content: center;
  margin-bottom: 2rem;
}

.info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--champagne-pink);
  border-radius: 5px;
}

.info-container img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 5px 5px 0 0;
  margin-bottom: 1rem;
}

.info-container h2 {
  color: var(--jasper);
  font-size: 2rem;
  text-align: center;
  letter-spacing: 2px;
  margin-bottom: 1rem;
}

.info-container p {
  color: var(--dark-purple-2);
  font-size: 1.2rem;
  line-height: 25px;
  padding: 0 1.5rem;
  margin-bottom: 2rem;
}

.info-links {
  background-color: var(--dark-purple);
  color: var(--champagne-pink);
  padding: 1rem 1.5rem;
  text-decoration: none;
  border-radius: 10px;
  font-size: 1.3rem;
  transition: all 0.3s ease-in-out;
  margin-bottom: 2rem;
}

.info-links:hover {
  background-color: var(--jasper);
  color: var(--champagne-pink);
}

/* FOOTER STYLES */
footer {
  background-color: var(--dark-purple);
  color: var(--champagne-pink);
  padding: 1rem;
  font-size: 1.2rem;
  width: 100%;
}

.footer-flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: 0 auto;
  padding: 1rem;
}

.footer-left {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  flex-basis: 45%;
}

.footer-right {
  align-self: flex-start;
  flex-basis: 45%;
}
.line-above-copyright {
  width: 100%;
  height: 5px;
  background-color: var(--champagne-pink);
  margin-bottom: 1rem;
}

.footer-right p {
  text-align: end;
}

/* MOBILE STYLES */

@media (max-width: 800px) {
  /* HEADER */
  .nav-items-container {
    flex-direction: column;
    gap: 1rem;
  }
  /* PROMOTIONS/HERO */
  h1 {
    font-size: 2rem;
  }
  .promotion::before {
    background-image: none;
    opacity: 1;
  }
  .promotion {
    background-color: var(--dark-purple);
    height: 250px;
    padding: 0.5rem;
  }

  /* INFO SECTION */

  .info-section {
    grid-template-columns: 1fr;
  }

  .info-container img {
    height: 200px;
  }
  .info-container p {
    padding: 0 0.8rem;
    font-size: 1rem;
  }
  /* FOOTER */
  .footer-flex-container {
    width: 100%;
    padding: 0.5rem;
  }
}
